[Unit]
Description=The OpenObserve server
After=syslog.target network-online.target remote-fs.target nss-lookup.target


[Service]
Type=simple
LimitNOFILE=65535
EnvironmentFile={{ openobserve_dir }}/openobserve.env
ExecStart={{ openobserve_dir }}/openobserve
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure

DynamicUser=true
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
StateDirectory=openobserve
CacheDirectory=openobserve
WorkingDirectory={{ openobserve_dir }}
NoNewPrivileges=true
MountFlags=slave

ProtectClock=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectHostname=true
ProtectKernelTunables=true
RestrictRealtime=true
ProtectProc=invisible

[Install]
WantedBy=multi-user.target
