ZO_ROOT_USER_EMAIL="{{ lookup('ansible.builtin.env', 'ZO_ROOT_USER_EMAIL', default=Undefined) }}"
ZO_ROOT_USER_PASSWORD="{{ lookup('ansible.builtin.env', 'ZO_ROOT_USER_PASSWORD', default=Undefined) }}"
ZO_DATA_DIR=/var/lib/openobserve
ZO_DATA_CACHE_DIR=/var/cache/openobserve