ZO_ROOT_USER_EMAIL="{{ lookup('ansible.builtin.env', 'ZO_ROOT_USER_EMAIL', default=Undefined) }}"
ZO_ROOT_USER_PASSWORD="{{ lookup('ansible.builtin.env', 'ZO_ROOT_USER_PASSWORD', default=Undefined) }}"
RUST_BACKTRACE=full
ZO_DATA_DIR={{ openobserve_dir }}/data
ZO_DATA_CACHE_DIR={{ openobserve_dir }}/cache