SHOVEL_SERVE_OPENOBSERVE_PASS="{{ lookup('ansible.builtin.env', 'SHOVEL_SERVE_OPENOBSERVE_PASS', default=Undefined) }}"
SHOVEL_SERVE_OPENOBSERVE_USER="{{ lookup('ansible.builtin.env', 'SHOVEL_SERVE_OPENOBSERVE_USER', default=Undefined) }}"